/* SIZE POPUP */

.size-options {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.size-options button {
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid var(--border);
  background: #fff;
  cursor: pointer;
}

.size-options button:hover {
  background: var(--primary);
  color: #fff;
  border-color: var(--primary);
}