.size-options button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #8b0000;
  background: white;
  color: #8b0000;
  cursor: pointer;
  transition: 0.25s;
}

.size-options button:hover {
  background: #8b0000;
  color: white;
}

/* selected size */
.size-options button.selected {
  background: #8b0000 !important;
  color: white !important;
  border-color: #8b0000;
}

.size-options button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #8b0000;
  background: white;
  color: #8b0000;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.25s;
  padding: 0;
  line-height: 1;
}